/*=========================================================
						              HELPERS
=========================================================*/




// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*
* Media queries
*/

@mixin smallPhone {
  @media (max-width: #{320px}  ) {
    @content;
  } 
}





@mixin phone {
  @media (max-width: #{420px - 1px}  ) {
    @content;
  } 
}


@mixin device600 {
  @media (max-width: #{600px - 1px}  ) {
    @content;
  } 
}

@mixin largePhone {
  @media (max-width: #{768px - 1px}  ) {
    @content;
  } 
}


@mixin tablet {
  @media (max-width: #{992px - 1px}  ) {
    @content;
  } 
}



@mixin desktop {
  @media (max-width: #{1200px - 1px} ) {
    @content;
  } 
}


@mixin largeDesktop {
  @media (max-width: #{1600px - 1px} ) {
    @content;
  } 
}


@mixin extraLargeDesktop {
  @media (max-width: #{1920px - 1px} ) {
    @content;
  } 
}

@mixin retina {
  @media (min-width: 1920px ) {
    @content;
  } 
}








//changes nav collapse break point to tablet
// @include tablet{
//     .navbar-header {
//         float: none;
//     }
//     .navbar-toggle {
//         display: block;
//     }

//     .navbar-collapse {
//         border-top: 1px solid transparent;
//         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
//     }
//     .navbar-collapse.collapse {
//         display: none!important;
//     }
//     .navbar-nav {
//         float: none!important;
//         margin: 7.5px -15px;
//     }
//     .navbar-nav>li {
//         float: none;
//     }
//     .navbar-nav>li>a {
//         padding-top: 10px;
//         padding-bottom: 10px;
//     }
//     .navbar-text {
//         float: none;
//         margin: 15px 0;
//     }
//     /* since 3.1.0 */
//     .navbar-collapse.collapse.in { 
//         display: block!important;
//     }
//     .collapsing {
//         overflow: hidden!important;
//     }
// }

//center elements only on smaller screens
//must add a inline width property on the element for this to work
  @include tablet{
    .tabletCenterElement{
      margin-left: auto;
      margin-right: auto;
    }
  }

@include tablet{
    .tabletTextCenter{
        text-align: center;
    }
  }






/*
* common helpers
*/

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.clearFix{

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

}

.relative{
  position: relative;
}

//firefox table fix
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


.fullHeight{
	height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // @include tablet{
  //   height: auto;
  // }
}

.fullHeightResponsive{
  @include tablet{
    height: auto !important;
  }
}

.fullWidth{
  width: 100%;
}

.overflowVisible{
  overflow: visible !important;
}

.minHeight250{
  min-height: 250px;
}

.minHeight300{
  min-height: 300px;
}


.minHeight500{
  min-height: 500px;
}

.mh800{
  max-height: 800px;
}


.mh1000{
  max-height: 1000px;
}

.mw1000{
  max-width: 1000px;
}

.mw900{
  max-width: 900px;
}

.mw800{
  max-width: 800px;
}

.mw700{
  max-width: 700px;
}

.mw600{
  max-width: 600px;
}

.mw500{
  max-width: 500px;
}

.mw200{
  max-width: 200px;
}




.hide{
  display: none;
}

.centerElement{
  margin-left: auto;
  margin-right: auto;
}


.halfOpacity{
  opacity: .5;
}


.fl{
  float: left;
}

.fr{
  float: right;
}

.centerText{
  text-align: center;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

//absolute alignment
.verticalAlign{
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.horizontalAlign{
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.centerAlign{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 99;
}



//clear margins
.cm{
  margin: 0 !important;
}

.clm{
  margin-left: 0 !important;
}

.crm{
  margin-right: 0 !important;
}

.ctm{
  margin-top: 0 !important;
}

.cbm{
  margin-bottom: 0 !important;
}

//clear paddings
.cp{
  padding: 0 !important;
}

.clp{
  padding-left: 0 !important;
}

.crp{
  padding-right: 0 !important;
}

.ctp{
  padding-top: 0 !important;
}

.cbp{
  padding-bottom: 0 !important;
}




// single margin
.m5{
  margin: 5px;
}

.m10{
  margin: 10px;
}

.m15{
  margin: 15px;
}

.m15{
  margin: 15px;
}

.m20{
  margin: 20px;
}

.m25{
  margin: 25px;
}

.m30{
  margin: 30px;
}

.m35{
  margin: 35px;
}


.mtn60{
  margin-top: -60px;
  @include tablet{
    margin-top: 0;
  }
}


.mt4{
  margin-top: 4px !important;
}

.mt5{
  margin-top: 5px !important;
}


.mt10{
  margin-top: 10px !important;
}

.mt15{
  margin-top: 15px !important;
}

.mt20{
  margin-top: 20px !important;
}


.mt25{
  margin-top: 25px !important;
}



.mt30{
  margin-top: 30px !important;
}

.mt40{
  margin-top: 40px !important;
}

.mt50{
  margin-top: 50px !important;
}

.mt60{
  margin-top: 60px !important;
}


.mt80{
  margin-top: 80px !important;
}


.mt90{
  margin-top: 90px !important;
}
//margin bottom

.mb5{
  margin-bottom: 5px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.mb15{
  margin-bottom: 15px !important;
}

.mb20{
  margin-bottom: 20px !important;
}

.mb30{
  margin-bottom: 30px !important;
}

.mb40{
  margin-bottom: 40px !important;
}

.mb60{
  margin-bottom: 60px !important;
}

.mb80{
  margin-bottom: 80px !important;
}

.mt100{
  margin-top: 100px !important;
}

.mt120{
  margin-top: 120px !important;
}

.mt130{
  margin-top: 130px !important;
}

.mt140{
  margin-top: 140px !important;
}

.mt150{
  margin-top: 150px !important;
}

.mt200{
  margin-top: 200px !important;
}

.mb100{
  margin-bottom: 100px !important;
}

// margin right
.mr5{
  margin-right: 5px !important;
}

.mr10{
  margin-right: 10px !important;
}

.mr15{
  margin-right: 15px !important;
}

.mr20{
  margin-right: 20px !important;
}

.mr30{
  margin-right: 30px !important;
}

.mr40{
  margin-right: 40px !important;
}

.mr60{
  margin-right: 60px !important;
}

.mr70{
  margin-right: 70px !important;
}

.mr80{
  margin-right: 80px !important;
}

.mr90{
  margin-right: 90px !important;
}

.mr100{
  margin-right: 100px !important;
}

// margin left
.ml5{
  margin-left: 5px !important;
}

.ml10{
  margin-left: 10px !important;
}

.ml15{
  margin-left: 15px !important;
}

.ml20{
  margin-left: 20px !important;
}

.ml25{
  margin-left: 25px !important;
}

.ml30{
  margin-left: 30px !important;
}

.ml40{
  margin-left: 40px !important;
}

.ml60{
  margin-left: 60px !important;
}

.ml70{
  margin-left: 70px !important;
}

.ml80{
  margin-left: 80px !important;
}

.ml90{
  margin-left: 90px !important;
}

.ml100{
  margin-left: 100px !important;
}


//padding

.p5{
  padding: 5px;
}

.p10{
  padding: 10px !important;
}

.p15{
  padding: 15px !important;
}

.p20{
  padding: 20px !important;
}

.p30{
  padding: 30px !important;
}

.p40{
  padding: 40px !important;
}

.p50{
  padding: 50px !important;
}

.p60{
  padding: 60px !important;
}

.p70{
  padding: 70px !important;
}

.p80{
  padding: 80px !important;
}

.p90{
  padding: 90px !important;
}

.p100{
  padding: 100px !important;
}



.pl20{
  padding-left: 20px !important;
}

//padding bottom
.pb5{
  padding-bottom: 5px !important;
}

.pb10{
  padding-bottom: 10px !important;
}


.pb15{
  padding-bottom: 15px !important;
}

.pb20{
  padding-bottom: 20px !important;
}

.pb30{
  padding-bottom: 30px !important;
}

.pb40{
  padding-bottom: 40px !important;
}

.pb50{
  padding-bottom: 50px !important;
}

.pb60{
  padding-bottom: 60px !important;
}

.pb80{
  padding-bottom: 80px !important;
}

.pb90{
  padding-bottom: 90px !important;
}


.pb100{
  padding-bottom: 100px !important;
}

.pb120{
  padding-bottom: 120px !important;
}


.pb200{
  padding-bottom: 200px !important;
}
//padding top

.pt5{
  padding-top: 5px !important;
}

.pt10{
  padding-top: 10px !important;
}

.pt15{
  padding-top: 15px !important;
}

.pt20{
  padding-top: 20px !important;
}

.pt30{
  padding-top: 30px !important;
}

.pt40{
  padding-top: 40px !important;
}

.pt50{
  padding-top: 50px !important;
}

.pt60{
  padding-top: 60px !important;
}

.pt75{
  padding-top: 75px !important;
}

.pt80{
  padding-top: 80px !important;
}

.pt90{
  padding-top: 90px !important;
}

.pt100{
  padding-top: 100px !important;
}

.pt115{
  padding-top: 115px !important;
}

.pt120{
  padding-top: 120px !important;
}

//padding right
.pr10{
  padding-right: 10px !important;
}

.pr15{
  padding-right: 15px !important;
}

.pr20{
  padding-right: 20px !important;
}

.pr30{
  padding-right: 30px !important;
}

.pr40{
  padding-right: 40px !important;
}

.pr50{
  padding-right: 50px !important;
}

.pr60{
  padding-right: 60px !important;
}

.pr75{
  padding-right: 75px !important;
}

.pr90{
  padding-right: 90px !important;
}



//padding left

.pl5{
  padding-left: 5px !important;
}

.pl10{
  padding-left: 10px !important;
}

.pl15{
  padding-left: 15px !important;
}


.pl30{
  padding-left: 30px !important;
}

.pl40{
  padding-left: 40px !important;
}

.pl50{
  padding-left: 50px !important;
}

.pl60{
  padding-left: 60px !important;
}

.pl60{
  padding-left: 60px !important;
}

.pl75{
  padding-left: 75px !important;
}

.pl90{
  padding-left: 90px !important;
}



.pl100{
  padding-left: 100px !important;
}


// top left 

.ln5{
  position: relative !important;
  left: -5px !important;
}

.ln10{
  position: relative !important;
  left: -10px !important;
}





@include tablet{

  .cpTablet{
    padding: 0px !important;
  }

  .p15Tablet{
    padding: 15px !important;
  }

  // .container-fluid, .container{
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  .cmTablet{
    margin: 0 !important;
  }
}











